.feedContainer {
    display: flex;
    background-color: #11703b;
    height: 100px;
    position: relative;
    border-radius: 10px;
    align-content: center;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
}

.miniTitle {
    color: black;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.margin0 {
    margin: 0;
}

.expenseTitle {
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin: 0;
    align-content: center;
    text-align: start;
}

.addButton {
    align-content: center;
    text-align: right;
}

.feedInv {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.rightAlign {
    padding-right: 0;
    text-align: end;
}

.feedHistory {
    color: black;
    font-size: 35px;
    font-weight: 600;
    text-align: start;
    margin: 0;
}

.itemAlign {
    place-content: flex-start;
}