.disposeInfoBg {
  display: flex;
  background-color: #554F91;
  min-height: 200px;
  position: relative;
  border-radius: 10px;
  display: flex;
}

.innerBoxBg {
  display: flex;
  background-color: white;
  position: relative;
  border-radius: 10px;
  align-content: center;
  display: flex;
}
