.edit {
  text-align: center;
  align-content: center;
  color: black;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  align-content: center;
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
  padding: 40px;
}

.right {
  text-align: -webkit-center;
  align-items: end;
}

.rightEnd {
  justify-content: end;
}

.responsiveImage {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}
