.left {
    text-align: start;
    color: black;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

.penHeadTitle {
    text-align: start;
}

.penTitle {
    font-size: 60px;
    margin: 0;
    font-weight: 700;
    color: white;
}

.center {
    align-self: center;
}

.sidePen {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    text-align: start;
}

.penContainer {
    display: flex;
    background-color: #11703b;
    height: 100px;
    position: relative;
    border-radius: 10px;
    align-content: center;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
}

.penInfoBg {
    display: flex;
    background-color: #F0F0F0;
    min-height: 650px;
    position: relative;
    border-radius: 10px;
    align-content: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.miniPenInfoBg {
    display: flex;
    background-color: #11703b;
    position: relative;
    border-radius: 10px;
    align-content: center;
    display: flex;
    justify-content: start;
    text-align: center;
}

.green {
    color: #11703b;
}

.pigInfo {
    font-size: 20px;
}

.size100 {
    font-size: 100px;
    font-weight: bold;
    margin: 0;
}

.right {
    justify-content: end;
}

.addButton {
    align-content: center;
    text-align: right;
}

.itemAlign {
    place-content: flex-start;
}
