.homeContainer {
    background-color: #11703b;
    padding-top: 5rem;
    position: relative;
    border-radius: 10px;
    align-content: center;
    padding: 75px 50px;
}

.hugePig {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.col1 {
    align-content: space-evenly;
    max-height: 100%;
}

.pigNumber {
    font-size: 12rem;
    font-weight: bold;
    color: white;
    z-index: 0;
    margin: 0;
    position: relative;
}

.totalPigs {
    font-size: 3vw;
    font-weight: 700;
    color: white;
    margin: 0;
    position: relative;
    margin-bottom: revert-layer;
    align-content: flex-end;
}

.descrip {
    text-align: start;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
    color: white;
}