.homeContainer {
  background-color: #11703b;
  padding-top: 5rem;  position: relative;
  border-radius: 10px;
  align-content: center;
  padding: clamp(30px, 5vw, 75px) clamp(17px, 5vw, 50px);
}


.hugePig {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.parag {
    text-align: start;
    font-size: 1rem;
    color: black;
    margin: 1;
}

.notifHead {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    text-align: start;
}

.seeEventsLink {
    font-size: 18px;
    font-weight: 200;
    margin: 0;
    text-align: end;
    margin-bottom: revert-layer;
}

.listBox {
    width: 100%;
}

.listRow1 {
    display: flex;
    align-content: space-between;
}

.black {
    color: black;
}

.pigSalesBox {
    align-self: center;
    justify-content: center;
    
}

.boxCenter {
    justify-content: center;
}

.pigSales {
    display: flex;
    background-color: #11703b;
    position: relative;
    border-radius: 10px;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1em 0em 1em 0em;
    min-width: 300px;
}


.totalSales {
    color: #11703b;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.pigSales1 {
    display: flex;
    background-color: #3B4DE1;
    position: relative;
    border-radius: 10px;
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 1em 0.313em 1em 0.313em;
}

.meds {
    color: #3B4DE1;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.guideCard {
    align-content: start;
    justify-content: center;
}

.quote {
    color: black;
    font-size: 20px;
}


/* Scrollbar for WebKit browsers (Chrome, Safari) */

::-webkit-scrollbar {
    width: 12px;
}

0.313::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}


/* Hover effect */

::-webkit-scrollbar-thumb:hover {
    background: rgb(95, 95, 95);
}
